.App_header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  position: absolute;
  width: 100vw;
  font-family: "DBHeavent";
}

.fram1_button2 {
  background: transparent;
  border-radius: 26.5px;
  font-weight: 300;
  font-size: 26px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 20px;
  width: 13vw;
  font-family: "DBHeavent";
}
.textCustomerH {
  display: contents;
}
.textHeading2_overviwe {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
  font-family: "DBHeavent";
}
.Get_Quote {
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  float: left;
  width: 135px;
  height: 40px;
  padding: 2px;
  border-radius: 30px;
  text-align: center;
  border-color: transparent;
}
.BsFileEarmarkFill {
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  font-family: "DBHeavent";
}
.textHeading2_overviwe2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: start;
  color: #333333;
  font-family: "DBHeavent";
}
.BoxFilter {
  border: 1px solid rgb(229, 229, 229);
  height: 135px;
  padding-top: 10px;
  border-radius: 10px;
  width: 86vw;
}
.boxPrice {
  display: flex;
  justify-content: space-around;
}
.Price {
  font-size: 25px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-family: "DBHeavent";
}
.PriceInt {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  align-items: center;
  font-family: "DBHeavent";

  color: #df0000;
}
.cardTranslator {
  width: 23vw;
  height: 390px;
  background: white;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 30px;
  margin-top: 15px;
  border: 1px solid rgb(229, 229, 229);
}
.iconcardTranslator {
  background: linear-gradient(91.8deg, #ff725a 1.03%, #eca51f 99.01%);
  width: 35px;
  height: 33px;
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.iconcardTranslator img {
  width: 20px;
  height: 20px;
}
.Deal {
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  font-family: "DBHeavent";
}
.profile {
  width: 100%;
  color: #e6e6e6;
  font-size: 60px;
  font-family: "DBHeavent";
}
.Logo {
  width: 100px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}
.H_text01 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #242424;
  font-family: "DBHeavent";
}
.H_text02 {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #242424;
  font-family: "DBHeaventLi";
}
.H_Model {
  font-size: 14px;
  color: #4f4f4f;
}
.H_Model2 {
  font-size: 20px;
  text-align: end;
}
.H_Model3 {
  font-size: 20px;
  text-align: end;
  color: #f04438;
}
.Box_detailH_Model {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.buttonModel1 {
  width: 100%;
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  color: #e5e5e5;
  border-radius: 32px;
  margin-bottom: 20px;
  border: none;
  height: 40px;
}
.buttonModel1_2 {
  width: 100%;
  background: transparent;
  color: #ffa0a0;
  border-radius: 32px;
  border: 1px solid #ffa0a0;
  height: 40px;
}

.fromdetail {
  position: absolute;
  width: 52vw;
  height: 725px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 20px;
  left: 42vw;
  padding: 20px;
  text-align: left;
  display: grid;
  align-content: start;
  justify-content: space-around;
  grid-template-columns: auto auto;
}
.datePickerWrapper {
  position: relative;
  display: inline-block;
}

.buttonAddandDelete {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  background: transparent;
  border: none;
  font-family: "DBHeavent";
}
.TextbuttonAddandDelete1 {
  color: #f04438;
}
.TextbuttonAddandDelete2 {
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DBHeavent";
}
.Box_next {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 80vh;
  box-shadow: 1px -6px 8px -2px rgba(16, 24, 40, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px;
}
.buttonArrow {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 32px;
  margin: 0px 10px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-family: "DBHeavent";
}
.buttonArrow2 {
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  border: none;
  border-radius: 32px;
  margin: 0px 10px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  font-family: "DBHeavent";
  color: #e5e5e5;
}
.buttonArrow .icon1 {
  font-size: 16px;
  display: inline;
  color: #3b005f;
}
.boxpayment {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.cardpayment {
  width: 150px;
  height: 120px;
  border: 1px solid #c4c4c4;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  background: transparent;
}
.cardpayment2 {
  width: 150px;
  height: 120px;
  border: 1px solid #c4c4c4;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  background: #646464;
  color: #a9a9a9;
}
.cardpayment3 {
  width: 150px;
  height: 120px;
  border: 1px solid #c4c4c4;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  color: #e5e5e5;
}
.cardpayment:hover {
  background: linear-gradient(98.35deg, #3b005f 5.13%, #1466b1 100.51%);
  color: #e5e5e5;
}
.cardpayment img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.cardpayment2 img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.cardpayment3 img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.App_payment {
  margin: 10px;
}
.form_group {
  margin: 10px;
}
.form_group2 {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.cvc{
  margin-right: 35px;
}